<h1>Places</h1>
<table class="table">
  <thead>
    <tr>
      <th class="icons"></th>
      <th class="narrow">Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th class="wide">Website</th>
      <th class="wide">Happy Hour / Specials</th>
      <th class="wide">Notes</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
    <tr>
      <td>
        <%= image_tag "delete.png", class: "delete", title: "Delete" %>
        <%= image_tag "edit.png", class: "edit", title: "Edit" %>
        <input type="hidden" value="<%=place["key"]%>"/>
      </td>
      <td><%= place["name"].html_safe %></td>
      <td><%= place["address"].html_safe if place["address"] %></td>
      <td><%= number_to_phone(place["phone"], area_code: true) if place["phone"] %></td>
      <td><%= !!place["url"] ? link_to(place["url"][0..25], place["url"], target: :blank, title: place["url"]) : "" %></td>
      <td><%= place["specials"].html_safe if place["specials"] %></td>
      <td><%= place["notes"].html_safe if place["notes"] %></td>
      <td>
        <ul class="tags">
        <% if place["tags"] %>
        <% place["tags"].each do |tag| %>
          <li><%=tag%></li>
        <% end %>
        <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
