<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin | East Village Everything</title>
  <%= stylesheet_link_tag "bootstrap.min",  media: "all" %>
  <%= stylesheet_link_tag "application",    media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-tabs">
    <li class="<%= active_tab("places")%>"><a href="/places">Places</a></li>
    <li class="<%= active_tab("tags")%>"><a href="/tags">Tags</a></li>
  </ul>
  <div class="container">
    <%= yield %>
  </div>
  <footer></footer>

  <%= javascript_include_tag "jquery.min"    %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "application"   %>
</body>
</html>
